/*Cabeçalho*/
body {
    background-color: rgb(255, 175, 55);
}
.Header {
    background-color: rgb(189, 123, 0);
    padding: 20px 20px;
    float: none;
}
.Header #Logo{
    font-size: 30px;
}
a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-shadow: black;
}

#Right {
    background-color: rgb(179, 95, 0);
    text-align: center;
    padding: 5px;
}
#Right a {
    padding: 0px 50px;
}

/*Caixa de texto*/
.Caixa-Principal{
    padding: 3px 1px;
    margin: 0px 95px;
    width: 1250px;
    height: 120px;
    font-size: 15px;
    vertical-align: auto;
}
.Caixa-Principal #Esquerda{
    display: inline-block;
    border-style: solid;
    border-width: 0.1px;
    width: 340px;
    height: 120px;

}
.Caixa-Principal #Meio{
    display: inline-block;
    border-style: solid;
    border-width: 0.1px;
    width: 350px;
    height: 120px;

}
.Caixa-Principal #Direita{
    display: inline-block;
    border-style: solid;
    border-width: 0.1px;
    width: 350px;
    height: 120px;
}

/*Contatos*/

.Contatos {
    display: block;
    width: 1200px;
    height: 400px;
    margin: auto;
    border-style: solid;
    border-width: 0.5px;
    border-radius: 1%;
    

}
.Contatos #Contatos{
    padding: 20px 20px;
    display: inline-block;
    width: 500px;
    height: 400px;

}
.Contatos #Mapa img{
    display: inline-block;
    width: 500px;
    height: 400px;

}
/*Rodapé*/