/*Cabeçalho*/
.Header {
    background-color: rgb(189, 123, 0);
    padding: 20px 20px;
    float: none;
}
.Header #Logo{
    font-size: 30px;
}
.Header a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-shadow: black;
}


#Right {
    background-color: rgb(179, 95, 0);
    text-align: center;
    padding: 5px;
}
#Right a {
    padding: 0px 50px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-shadow: black;
}
#Right :hover{
    background-color: rgb(107, 57, 0);
}

/*Caixa de texto*/
.Caixa-Principal{
    display: block;
    margin: auto;
    width: 1250px;
    height: 120px;
    font-size: 15px;
}
.Caixa-Principal #Esquerda{
    display: inline-block;
    border-style: solid;
    border-width: 0.1px;
    width: 340px;
    height: 120px;

}
.Caixa-Principal #Meio{
    display: inline-block;
    border-style: solid;
    border-width: 0.1px;
    width: 350px;
    height: 120px;

}
.Caixa-Principal #Direita{
    display: inline-block;
    border-style: solid;
    border-width: 0.1px;
    width: 350px;
    height: 120px;
}

/*Contatos*/

.Contatos {
    display: block;
    width: 1200px;
    height: 400px;
    margin: auto;
    border-style: solid;
    border-width: 0.5px;
    border-radius: 1%;
    

}
#Contatos{
    padding: 20px 20px;
    width: 500px;
    height: 400px;

}
.Contatos img{
    display:inline-flex;
    width: 600px;
    height: 280px;
    align-items: center;
    border-radius: 1%;
    margin: auto;
    margin-left: 100%;
}
/*Rodapé*/
.footer{
    background-color: rgb(189, 123, 0);
    padding: 10px 20px;
}
.footer a{
    text-decoration: none;
    color: wheat;
}
.Center {
    display: inline-block;
    margin: auto;

}
.Center ul li a{
    font-size: medium;

}
.Right{
    display: inline-block;
    margin: auto;
    
}
.Right ul li a{
    font-size: medium;
}