<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="home.component.css">
    <title>Atividade - Home</title>
</head>
<body>
        
    <header>

            <div class="Header">
                <a href="#" id="Logo" >Logo</a>
                </div>
                <div class="example-button-row" id="Right">
                    <button mat-stroked-button><a href="#">Home</a></button>
                    <button mat-stroked-button><a href="#">Sobre</a></button>
                    <button mat-stroked-button><a href="#">Contatos</a></button>
                    <button mat-stroked-button><a href="#">Minha Conta</a></button>
            </div>
    </header>
<!--banner-->
<img src="../../../assets/Banner.jpg" width="100%" height="220px"> <br><br>

<!--Textos-->
<div class="Caixa-Principal">
    <div id="Esquerda">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque fugit fuga est error debitis pariatur? Fugiat facere libero placeat exercitationem quibusdam autem harum, nam tenetur a doloribus, saepe cumque distinctio.</p>

    </div>
    <div id="Meio">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque fugit fuga est error debitis pariatur? Fugiat facere libero placeat exercitationem quibusdam autem harum, nam tenetur a doloribus, saepe cumque distinctio.</p>

    </div>
    <div id="Direita" >
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum reprehenderit eveniet explicabo, vel non quasi voluptas eius numquam dicta delectus quisquam suscipit. Vitae voluptatem rem quod impedit eos, quasi libero?</p>

    </div>

</div>
<!--Contatos-->
    <div class="Contatos">
        <div id="Contatos">
            <p>Alameda Wagih Salles Nemer, 124 - Centro, Barueri - SP, 06401-134</p>
            <p>(00)00000000</p>
            <p>http://barueri.sp.senai.br/</p>

        </div><!--Contatos-->
        <div id="Mapa">
            <img src="../../../assets/Mapa.jpg">

        </div><!--Mapa-->
    </div>

<!--Rodapé-->
    <footer>
        <div class="footer">
            <a href="#">Logo</a>
            
               <div class="Center">
                   <a href="#"></a>
                   <a href="#"></a>
                   <a href="#"></a>
                </div>
                <div class="Right">

                    <a href="#"></a>
                    <a href="#"></a>
                    <a href="#"></a>

                </div>

        </div>
    </footer>
</body>
</html>
