   <header>

            <div class="Header">
                <a href="#" id="Logo" >Logo</a>
                </div>
                <div class="example-button-row" id="Right">
                    <button mat-stroked-button><a href="#">Home</a></button>
                    <button mat-stroked-button><a href="#">Sobre</a></button>
                    <button mat-stroked-button><a href="#">Contatos</a></button>
                    <button mat-stroked-button><a href="#">Minha Conta</a></button>
            </div>
    </header>
<!--banner-->
<img src="../../../assets/Banner.jpg" width="100%" height="220px"> <br><br>

<!--Textos-->
<div class="Caixa-Principal">
    <div id="Esquerda">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque fugit fuga est error debitis pariatur? Fugiat facere libero placeat exercitationem quibusdam autem harum, nam tenetur a doloribus, saepe cumque distinctio.</p>

    </div>
    <div id="Meio">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque fugit fuga est error debitis pariatur? Fugiat facere libero placeat exercitationem quibusdam autem harum, nam tenetur a doloribus, saepe cumque distinctio.</p>

    </div>
    <div id="Direita" >
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum reprehenderit eveniet explicabo, vel non quasi voluptas eius numquam dicta delectus quisquam suscipit. Vitae voluptatem rem quod impedit eos, quasi libero?</p>

    </div>

</div><br><br>
<!--Contatos-->
    <div class="Contatos">
        <div id="Contatos">
            <p>Alameda Wagih Salles Nemer, 124 - Centro, Barueri - SP, 06401-134</p>
            <p>(00)00000000</p>
            <p>http://barueri.sp.senai.br/</p>
            <img src="../../../assets/Mapa.jpg">

        </div><!--Contatos-->
    </div><br><br>

<!--Rodapé-->
    <footer>
        <div class="footer">
            <a href="#">Logo</a>
            
               <div class="Center"><ul>
                   <b><li><a href="#">Institucional</a></li>
                        <li><a href="#">Sobre nos</a></li>
                            <li><a href="#">Politicas da empresa</a></li></b>
               
                </ul></div><!--Logo-->
                <div class="Right"><ul>

                <b><li><a href="#">Minha Conta</a></li>
                    <li><a href="#">Perguntas Frequentes</a></li>
                        <li><a href="#">Categorias</a></li></b>
                    
                </ul></div><!--Right-->
        </div><!--footer-->
        
    </footer>
